
body {
	font-family: monospace;
	font-size: 48px;
	color: rgb(150,150,150);
	background-color: rgb(55,55,55);
	font-weight: bold;
}

h1 {
	font-size: 96px;
	margin: 0px 0px 30px 0px;
}

input {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: rgb(150,150,150);
	margin: 0px 0px 20px 0px;
	height: 80;
	width: 120;
	border-radius: 20px;
	border-color: black;
	border-style: solid;
	border-width: 8px;
}

input:active {
	background-color: black;
	color: rgb(150,150,150);
}

